In [7]:
from analysis.plotutility import *
from config.selectionconfig import plotsetting as pltcfg

In [13]:
import os

In [15]:
srcdir = '/uscms/home/joyzhou/nobackup/output/ggF'

In [29]:
vis = Visualizer(pltcfg)

In [30]:
combined = vis.combine_cf(srcdir)

In [19]:
combined

                   taumtauh  tauetauh  tauhtauh
ElectronSelection     21732      6277     19908
MuonSelection          3247      5160     16378
TauSelection           1824      3186      1684
initial               33048     31224     28038