In [10]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
from analysis.plotutility import *
from config.selectionconfig import plotsetting as pltcfg

In [12]:
import os

In [13]:
vis = Visualizer(pltcfg)

In [14]:
raw_df, wgt_df = vis.load_allcf()

In [20]:
raw_df

,DYJetsToLL_M-10to50,DYJetsToLL_M-50,ZH_HToBB_ZToLL_M-125,ZH_HToBB_ZToQQ_M-125,ttHto2B_M-125,VBFHToTauTau_M125,GluGluHToTauTau_M-125
initial,22445405,92312235,2062940,4092774,4107465,298000,291000
ElectronSelection,22314144,68892058,1236115,3577235,2431611,221865,242886
MuonSelection,21925141,47130535,609499,3373217,1683102,187064,213728
TauSelection,277,72801,11019,9159,26490,9067,5214

In [15]:
wgt_df

,DYJetsToLL_M-10to50,DYJetsToLL_M-50,ZH_HToBB_ZToLL_M-125,ZH_HToBB_ZToQQ_M-125,ttHto2B_M-125,VBFHToTauTau_M125,GluGluHToTauTau_M-125
initial,654524.197717,301299.553562,15.371238,14.371148,11.154468,50.013422,50.001625
ElectronSelection,650696.532290,224858.019301,9.210456,12.560912,6.603423,37.235664,41.734346
MuonSelection,639352.924256,153830.195473,4.541458,11.844534,4.570729,31.395003,36.724218
TauSelection,8.077520,237.616485,0.082104,0.032160,0.071938,1.521717,0.895905

In [18]:
eff_df = vis.efficiency(wgt_df, overall=False, append=False, save=False)

In [19]:
eff_df

,DYJetsToLL_M-10to50_eff,DYJetsToLL_M-50_eff,ZH_HToBB_ZToLL_M-125_eff,ZH_HToBB_ZToQQ_M-125_eff,ttHto2B_M-125_eff,VBFHToTauTau_M125_eff,GluGluHToTauTau_M-125_eff
initial,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
ElectronSelection,99.415199,74.629390,59.920066,87.403678,59.199798,74.451342,83.465979
MuonSelection,98.256698,68.412146,49.307629,94.296768,69.217568,84.314335,87.995191
TauSelection,0.001263,0.154467,1.807878,0.271521,1.573880,4.847004,2.439549

In [5]:
vis.grepweights(output=True)

In [6]:
vis.indir

'/uscms/home/joyzhou/nobackup/output'

In [8]:
# test combine_cf()
dirname = pjoin(vis.indir, 'DYJets')
raw_cutflow = vis.combine_cf(dirname, 'DYJetsToLL_M-10to50', output=True)
raw_cutflow

                   DYJetsToLL_M-10to50
initial                       22445405
ElectronSelection             22314144
MuonSelection                 21925141
TauSelection                       277

In [7]:
# test compute_allcf()
raw_df, wgt_df = vis.compute_allcf()

,DYJetsToLL_M-10to50,DYJetsToLL_M-50,ZH_HToBB_ZToLL_M-125,ZH_HToBB_ZToQQ_M-125,ttHto2B_M-125,VBFHToTauTau_M125,GluGluHToTauTau_M-125
initial,22445405,92312235,2062940,4092774,4107465,298000,291000
ElectronSelection,22314144,68892058,1236115,3577235,2431611,221865,242886
MuonSelection,21925141,47130535,609499,3373217,1683102,187064,213728
TauSelection,277,72801,11019,9159,26490,9067,5214

In [21]:
df = load_roots('/uscms/home/joyzhou/nobackup/output/DYJets', 'DYJetsToLL_M-50_*.root', ['Electron_pt'], 'tree', clean=True)

Deleted /uscms/home/joyzhou/nobackup/output/DYJets/DYJetsToLL_M-50_tauhtauh_101-part0.root
Deleted /uscms/home/joyzhou/nobackup/output/DYJets/DYJetsToLL_M-50_tauhtauh_101-part1.root