In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from analysis.plotutility import *
from config.selectionconfig import plotsetting as pltcfg

In [3]:
import os
import awkward_pandas as akpd

In [4]:
import pandas as pd

In [5]:
import awkward as ak

In [6]:
vis = Visualizer(pltcfg)

## Load signal process and inspect

In [36]:
# Load one signal output
fi = '/uscms/home/joyzhou/nobackup/output/ggF/GluGlutoHHto2B2Tau_kl-1p00_kt-1p00_c2-0p00_249-part0.root'

In [48]:
branch_names = find_branches(fi, ['Tau', 'Jet', 'FatJet'], 'tree')

In [49]:
extra_names = ['Generator_weight', 'nLHEReweightingWeight', 'LHEReweightingWeight']

In [50]:
branch_names.extend(extra_names)

In [51]:
branch_names

['Tau_decayMode',
 'Tau_idAntiEleDeadECal',
 'Tau_idAntiMu',
 'Tau_idDecayModeNewDMs',
 'Tau_idDecayModeOldDMs',
 'Tau_idDeepTau2017v2p1VSe',
 'Tau_idDeepTau2017v2p1VSjet',
 'Tau_idDeepTau2017v2p1VSmu',
 'Tau_idDeepTau2018v2p5VSe',
 'Tau_idDeepTau2018v2p5VSjet',
 'Tau_idDeepTau2018v2p5VSmu',
 'Tau_nSVs',
 'Tau_charge',
 'Tau_decayModePNet',
 'Tau_eleIdx',
 'Tau_jetIdx',
 'Tau_muIdx',
 'Tau_svIdx1',
 'Tau_svIdx2',
 'Tau_chargedIso',
 'Tau_dxy',
 'Tau_dz',
 'Tau_eta',
 'Tau_leadTkDeltaEta',
 'Tau_leadTkDeltaPhi',
 'Tau_leadTkPtOverTauPt',
 'Tau_mass',
 'Tau_neutralIso',
 'Tau_phi',
 'Tau_photonsOutsideSignalCone',
 'Tau_probDM0PNet',
 'Tau_probDM10PNet',
 'Tau_probDM11PNet',
 'Tau_probDM1PNet',
 'Tau_probDM2PNet',
 'Tau_pt',
 'Tau_ptCorrPNet',
 'Tau_puCorr',
 'Tau_qConfPNet',
 'Tau_rawDeepTau2017v2p1VSe',
 'Tau_rawDeepTau2017v2p1VSjet',
 'Tau_rawDeepTau2017v2p1VSmu',
 'Tau_rawDeepTau2018v2p5VSe',
 'Tau_rawDeepTau2018v2p5VSjet',
 'Tau_rawDeepTau2018v2p5VSmu',
 'Tau_rawIso',
 'Tau_rawIsodR03',
 'Tau_rawPNetVSe',
 'Tau_rawPNetVSjet',
 'Tau_rawPNetVSmu',
 'Tau_genPartFlav',
 'Tau_genPartIdx',
 'Jet_jetId',
 'Jet_nConstituents',
 'Jet_nElectrons',
 'Jet_nMuons',
 'Jet_nSVs',
 'Jet_electronIdx1',
 'Jet_electronIdx2',
 'Jet_muonIdx1',
 'Jet_muonIdx2',
 'Jet_svIdx1',
 'Jet_svIdx2',
 'Jet_hfadjacentEtaStripsSize',
 'Jet_hfcentralEtaStripSize',
 'Jet_PNetRegPtRawCorr',
 'Jet_PNetRegPtRawCorrNeutrino',
 'Jet_PNetRegPtRawRes',
 'Jet_area',
 'Jet_btagDeepFlavB',
 'Jet_btagDeepFlavCvB',
 'Jet_btagDeepFlavCvL',
 'Jet_btagDeepFlavQG',
 'Jet_btagPNetB',
 'Jet_btagPNetCvB',
 'Jet_btagPNetCvL',
 'Jet_btagPNetQvG',
 'Jet_btagPNetTauVJet',
 'Jet_btagRobustParTAK4B',
 'Jet_btagRobustParTAK4CvB',
 'Jet_btagRobustParTAK4CvL',
 'Jet_btagRobustParTAK4QG',
 'Jet_chEmEF',
 'Jet_chHEF',
 'Jet_eta',
 'Jet_hfsigmaEtaEta',
 'Jet_hfsigmaPhiPhi',
 'Jet_mass',
 'Jet_muEF',
 'Jet_muonSubtrFactor',
 'Jet_neEmEF',
 'Jet_neHEF',
 'Jet_phi',
 'Jet_pt',
 'Jet_rawFactor',
 'Jet_hadronFlavour',
 'Jet_genJetIdx',
 'Jet_partonFlavour',
 'FatJet_jetId',
 'FatJet_nConstituents',
 'FatJet_subJetIdx1',
 'FatJet_subJetIdx2',
 'FatJet_electronIdx3SJ',
 'FatJet_muonIdx3SJ',
 'FatJet_area',
 'FatJet_btagDDBvLV2',
 'FatJet_btagDDCvBV2',
 'FatJet_btagDDCvLV2',
 'FatJet_btagDeepB',
 'FatJet_btagHbb',
 'FatJet_eta',
 'FatJet_mass',
 'FatJet_msoftdrop',
 'FatJet_n2b1',
 'FatJet_n3b1',
 'FatJet_particleNetWithMass_H4qvsQCD',
 'FatJet_particleNetWithMass_HbbvsQCD',
 'FatJet_particleNetWithMass_HccvsQCD',
 'FatJet_particleNetWithMass_QCD',
 'FatJet_particleNetWithMass_TvsQCD',
 'FatJet_particleNetWithMass_WvsQCD',
 'FatJet_particleNetWithMass_ZvsQCD',
 'FatJet_particleNet_QCD',
 'FatJet_particleNet_QCD0HF',
 'FatJet_particleNet_QCD1HF',
 'FatJet_particleNet_QCD2HF',
 'FatJet_particleNet_XbbVsQCD',
 'FatJet_particleNet_XccVsQCD',
 'FatJet_particleNet_XggVsQCD',
 'FatJet_particleNet_XqqVsQCD',
 'FatJet_particleNet_XteVsQCD',
 'FatJet_particleNet_XtmVsQCD',
 'FatJet_particleNet_XttVsQCD',
 'FatJet_particleNet_massCorr',
 'FatJet_phi',
 'FatJet_pt',
 'FatJet_rawFactor',
 'FatJet_tau1',
 'FatJet_tau2',
 'FatJet_tau3',
 'FatJet_tau4',
 'FatJet_lsf3',
 'FatJet_hadronFlavour',
 'FatJet_nBHadrons',
 'FatJet_nCHadrons',
 'FatJet_genJetAK8Idx',
 'Generator_weight',
 'nLHEReweightingWeight',
 'LHEReweightingWeight']

In [52]:
df, empty_list = load_files([fi], branch_names, 'tree')

In [53]:
df.to_parquet('example.parquet')

In [27]:
df.columns

Index(['Tau_decayMode', 'Tau_idAntiEleDeadECal', 'Tau_idAntiMu',
       'Tau_idDecayModeNewDMs', 'Tau_idDecayModeOldDMs',
       'Tau_idDeepTau2017v2p1VSe', 'Tau_idDeepTau2017v2p1VSjet',
       'Tau_idDeepTau2017v2p1VSmu', 'Tau_idDeepTau2018v2p5VSe',
       'Tau_idDeepTau2018v2p5VSjet', 'Tau_idDeepTau2018v2p5VSmu', 'Tau_nSVs',
       'Tau_charge', 'Tau_decayModePNet', 'Tau_eleIdx', 'Tau_jetIdx',
       'Tau_muIdx', 'Tau_svIdx1', 'Tau_svIdx2', 'Tau_chargedIso', 'Tau_dxy',
       'Tau_dz', 'Tau_eta', 'Tau_leadTkDeltaEta', 'Tau_leadTkDeltaPhi',
       'Tau_leadTkPtOverTauPt', 'Tau_mass', 'Tau_neutralIso', 'Tau_phi',
       'Tau_photonsOutsideSignalCone', 'Tau_probDM0PNet', 'Tau_probDM10PNet',
       'Tau_probDM11PNet', 'Tau_probDM1PNet', 'Tau_probDM2PNet', 'Tau_pt',
       'Tau_ptCorrPNet', 'Tau_puCorr', 'Tau_qConfPNet',
       'Tau_rawDeepTau2017v2p1VSe', 'Tau_rawDeepTau2017v2p1VSjet',
       'Tau_rawDeepTau2017v2p1VSmu', 'Tau_rawDeepTau2018v2p5VSe',
       'Tau_rawDeepTau2018v2p5VSjet', 'Tau_rawDeepTau2018v2p5VSmu',
       'Tau_rawIso', 'Tau_rawIsodR03', 'Tau_rawPNetVSe', 'Tau_rawPNetVSjet',
       'Tau_rawPNetVSmu', 'Tau_genPartFlav', 'Tau_genPartIdx'],
      dtype='object')

In [9]:
vis.getweights(from_raw=True)

## Unpickle a dataframe and inspect

In [7]:
with open(pjoin(vis.outdir, 'WZZ.pkl'), 'rb') as f:
    testdf = pickle.load(f)

In [8]:
testdf.columns

Index(['Tau_chargedIso', 'Tau_dxy', 'Tau_dz', 'Tau_eta', 'Tau_leadTkDeltaEta',
       'Tau_leadTkDeltaPhi', 'Tau_leadTkPtOverTauPt', 'Tau_mass',
       'Tau_neutralIso', 'Tau_phi',
       ...
       'FatJet_muonIdx3SJ', 'FatJet_nConstituents', 'FatJet_genJetAK8Idx',
       'FatJet_hadronFlavour', 'FatJet_nBHadrons', 'FatJet_nCHadrons',
       'Generator_weight', 'nLHEReweightingWeight', 'LHEReweightingWeight',
       'dataset'],
      dtype='object', length=140)

In [19]:
type(testdf)

pandas.core.frame.DataFrame

In [17]:
val = isinstance(testdf['Tau_pt'], pd.core.series.Series)

In [21]:
type(testdf['Tau_pt'].ak.array)

awkward.highlevel.Array

In [18]:
val

True

## If weights and df saved ....

In [14]:
raw_df, wgt_df = vis.load_allcf()

In [20]:
raw_df

,DYJetsToLL_M-10to50,DYJetsToLL_M-50,ZH_HToBB_ZToLL_M-125,ZH_HToBB_ZToQQ_M-125,ttHto2B_M-125,VBFHToTauTau_M125,GluGluHToTauTau_M-125
initial,22445405,92312235,2062940,4092774,4107465,298000,291000
ElectronSelection,22314144,68892058,1236115,3577235,2431611,221865,242886
MuonSelection,21925141,47130535,609499,3373217,1683102,187064,213728
TauSelection,277,72801,11019,9159,26490,9067,5214

In [15]:
wgt_df

,DYJetsToLL_M-10to50,DYJetsToLL_M-50,ZH_HToBB_ZToLL_M-125,ZH_HToBB_ZToQQ_M-125,ttHto2B_M-125,VBFHToTauTau_M125,GluGluHToTauTau_M-125
initial,654524.197717,301299.553562,15.371238,14.371148,11.154468,50.013422,50.001625
ElectronSelection,650696.532290,224858.019301,9.210456,12.560912,6.603423,37.235664,41.734346
MuonSelection,639352.924256,153830.195473,4.541458,11.844534,4.570729,31.395003,36.724218
TauSelection,8.077520,237.616485,0.082104,0.032160,0.071938,1.521717,0.895905

In [18]:
eff_df = vis.efficiency(wgt_df, overall=False, append=False, save=False)

In [19]:
eff_df

,DYJetsToLL_M-10to50_eff,DYJetsToLL_M-50_eff,ZH_HToBB_ZToLL_M-125_eff,ZH_HToBB_ZToQQ_M-125_eff,ttHto2B_M-125_eff,VBFHToTauTau_M125_eff,GluGluHToTauTau_M-125_eff
initial,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
ElectronSelection,99.415199,74.629390,59.920066,87.403678,59.199798,74.451342,83.465979
MuonSelection,98.256698,68.412146,49.307629,94.296768,69.217568,84.314335,87.995191
TauSelection,0.001263,0.154467,1.807878,0.271521,1.573880,4.847004,2.439549

## If compute from beginning

In [23]:
vis.grepweights(output=True, from_raw=True)

In [24]:
vis.indir

'/uscms/home/joyzhou/nobackup/output'

In [8]:
# test combine_cf()
dirname = pjoin(vis.indir, 'DYJets')
raw_cutflow = vis.combine_cf(dirname, 'DYJetsToLL_M-10to50', output=True)
raw_cutflow

                   DYJetsToLL_M-10to50
initial                       22445405
ElectronSelection             22314144
MuonSelection                 21925141
TauSelection                       277

In [25]:
# test compute_allcf()
raw_df, wgt_df = vis.compute_allcf()

In [26]:
raw_df

,ZH_HToBB_ZToLL_M-125,ZH_HToBB_ZToQQ_M-125,ttHto2B_M-125,VBFHToTauTau_M125,GluGluHToTauTau_M-125,GluGlutoHHto2B2Tau_kl-1p00_kt-1p00_c2-0p00
initial,2062940,4092774,4107465,298000,291000,3064500
ElectronSelection,1236115,3577235,2431611,221865,242886,1742025
MuonSelection,609499,3373217,1683102,187064,213728,1196733
TauSelection,11019,9159,26490,9067,5214,566366

In [27]:
wgt_df

,ZH_HToBB_ZToLL_M-125,ZH_HToBB_ZToQQ_M-125,ttHto2B_M-125,VBFHToTauTau_M125,GluGluHToTauTau_M-125,GluGlutoHHto2B2Tau_kl-1p00_kt-1p00_c2-0p00
initial,1.313743,8.566681,6.395000,209.000000,1583.000000,1.479704
ElectronSelection,0.787196,7.487595,3.785827,155.603305,1321.266454,0.841142
MuonSelection,0.388148,7.060560,2.620457,131.195893,1162.650942,0.577846
TauSelection,0.007017,0.019171,0.041243,6.359070,28.363443,0.273472

In [28]:
eff_df = vis.efficiency(raw_df, overall=False, append=False, save=False)
eff_df

,ZH_HToBB_ZToLL_M-125_eff,ZH_HToBB_ZToQQ_M-125_eff,ttHto2B_M-125_eff,VBFHToTauTau_M125_eff,GluGluHToTauTau_M-125_eff,GluGlutoHHto2B2Tau_kl-1p00_kt-1p00_c2-0p00_eff
initial,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
ElectronSelection,59.920066,87.403678,59.199798,74.451342,83.465979,56.845326
MuonSelection,49.307629,94.296768,69.217568,84.314335,87.995191,68.697809
TauSelection,1.807878,0.271521,1.573880,4.847004,2.439549,47.326012

In [6]:
# test combine_roots()
events = vis.combine_roots(save=True)

## Inspect one example root output file after preselection

In [5]:
finame = "/uscms/home/joyzhou/nobackup/output/SingleH/ttHto2B_M-125_tauhtauh_0-part0.root"
events = uproot.open(f'{finame}:tree')

In [7]:
my_list = events.keys()
substring = 'weight'
filtered_keys = [item for item in my_list if substring in item]

In [8]:
filtered_keys

['Generator_weight', 'nLHEReweightingWeight', 'LHEReweightingWeight']

In [56]:
sample_ak= events.arrays(['Tau_pt', 'Tau_eta'])

In [63]:
type(sample_ak)

awkward.highlevel.Array

In [61]:
sample_ak['process'] = 'ttH'

In [62]:
sample_ak

In [59]:
sample_df = events.arrays(['Tau_pt', 'Tau_eta'], library='pd')

In [7]:
sample_df

,Tau_pt,Tau_eta
0,"[71.8727798461914, 64.95415496826172]","[0.244415283203125, -0.148651123046875]"
1,"[176.418701171875, 70.15322875976562, 27.03549...","[0.632080078125, -0.7083740234375, -0.21557617..."
2,"[101.26901245117188, 72.00780487060547, 28.329...","[1.045166015625, 0.4097900390625, 1.4943847656..."
3,"[68.88240814208984, 50.81139373779297, 39.4530...","[0.9951171875, 0.881103515625, 1.73193359375]"
4,"[82.45059967041016, 47.47563934326172]","[-1.1298828125, -0.9632568359375]"
...,...,...
792,"[68.6008071899414, 40.46160888671875, 27.69552...","[-1.956787109375, 0.242156982421875, -0.259033..."
793,"[44.68653869628906, 41.38773727416992, 24.4122...","[1.0146484375, 1.919677734375, 1.092041015625,..."
794,"[332.97515869140625, 52.50996398925781]","[-0.159820556640625, -0.0513458251953125]"
795,"[56.74041748046875, 45.25996017456055]","[-0.935302734375, -1.15283203125]"
796,"[78.9393539428711, 40.917640686035156, 21.9107...","[-0.4122314453125, -1.25439453125, 1.36181640625]"

In [66]:
sample_df['Tau_pt'].ak.array

In [10]:
type(sample_df['Tau_pt'])

pandas.core.series.Series

In [23]:
type(sample_df['Tau_pt'][0])

numpy.float32